<div class="header-section section">
       
    <!-- Header Top Start -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col">

                    <!-- Header Top Wrapper Start -->
                    <div class="header-top-wrapper">
                        <div class="row">

                            <!-- Header Social -->
                            <div class="header-social col-md-4 col-12">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>

                            <!-- Header Logo -->
                            <div class="header-logo col-md-4 col-12">
                                <a href="index.ejs" class="logo"><img src="img/logo.png" alt="logo"></a>
                            </div>

                            <!-- Account Menu -->
                            <div class="account-menu col-md-4 col-12">
                                <ul>
                                    <li><a href="#">Yashvi Account</a></li>
                                    <li><a href="wishlist.ejs">Wishlist</a></li>
                                    <li><a href="#" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i><span class="num">2</span></a>
                                        
                                        <!-- Mini Cart -->
                                        <div class="mini-cart-brief dropdown-menu text-left">
                                            <!-- Cart Products -->
                                            <div class="all-cart-product clearfix">
                                                <div class="single-cart clearfix">
                                                    <div class="cart-image">
                                                        <a href="product-details.ejs"><img src="img/cart/1.jpg" alt=""></a>
                                                    </div>
                                                    <div class="cart-info">
                                                        <h5><a href="product-details.ejs">Holiday Candle</a></h5>
                                                        <p>1 x £9.00</p>
                                                        <a href="#" class="cart-delete" title="Remove this item"><i class="fa fa-trash-o"></i></a>
                                                    </div>
                                                </div>
                                                <div class="single-cart clearfix">
                                                    <div class="cart-image">
                                                        <a href="product-details.ejs"><img src="img/cart/2.jpg" alt=""></a>
                                                    </div>
                                                    <div class="cart-info">
                                                        <h5><a href="product-details.ejs">Christmas Tree</a></h5>
                                                        <p>1 x £9.00</p>
                                                        <a href="#" class="cart-delete" title="Remove this item"><i class="fa fa-trash-o"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Cart Total -->
                                            <div class="cart-totals">
                                                <h5>Total <span>£12.00</span></h5>
                                            </div>
                                            <!-- Cart Button -->
                                            <div class="cart-bottom  clearfix">
                                                <a href="checkout.ejs">Check out</a>
                                            </div>
                                        </div>
                                        
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div><!-- Header Top Wrapper End -->

                </div>
            </div>
        </div>
    </div><!-- Header Top End -->
    
    <!-- Header Bottom Start -->
    <div class="header-bottom section">
        <div class="container">
            <div class="row">
               
                <!-- Header Bottom Wrapper Start -->
                <div class="header-bottom-wrapper text-center col">

                    <!-- Header Bottom Logo -->
                    <div class="header-bottom-logo">
                        <a href="index.ejs" class="logo"><img src="img/logo.png" alt="logo"></a>
                    </div>

                    <!-- Main Menu -->
                    <nav id="main-menu" class="main-menu">
                        <ul>
                            <li class="active"><a href="index.ejs">home</a></li>
                            <li><a href="shop.ejs">shop</a>
                                <ul class="sub-menu">
                                    <li><a href="shop.ejs">shop page</a></li>
                                    <li><a href="product-details.ejs">product details</a></li>
                                </ul>
                            </li>
                            <li><a href="about.ejs">about</a></li>
                            <li><a href="#">pages</a>
                                <ul class="sub-menu">
                                    <li><a href="cart.ejs">cart</a></li>
                                    <li><a href="checkout.ejs">checkout</a></li>
                                    <li><a href="wishlist.ejs">wishlist</a></li>
                                    <li><a href="under-construction.ejs">Under Construction</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.ejs">blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.ejs">blog page</a></li>
                                    <li><a href="blog-details.ejs">blog details</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.ejs">contact</a></li>
                            <li><a href="Login.ejs">Login</a></li>
                            <li><a href="signup.ejs">signup</a></li>
                            <li><a href="pp.ejs">pp</a></li>
                        </ul>
                    </nav>

                    <!-- Header Search -->
                    <div class="header-search">
                        
                        <!-- Search Toggle -->
                        <button class="search-toggle"><i class="ion-ios-search-strong"></i></button>
                        
                        <!-- Search Form -->
                        <div class="header-search-form">
                            <form action="#">
                                <input type="text" placeholder="Search...">
                                <button><i class="ion-ios-search-strong"></i></button>
                            </form>
                        </div>
                        
                    </div>
                    
                    <!-- Mobile Menu -->
                    <div class="mobile-menu section d-md-none"></div>

                </div><!-- Header Bottom Wrapper End -->
                
            </div>
        </div>
    </div><!-- Header Bottom End -->
  