<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Christ - Christmas Gift Shop HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet"> 
    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/css/plugins.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/style.css">
    <!-- Modernizer JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

<!-- Main Wrapper Start -->
<div id="main-wrapper" class="section">
    

    <!-- Header Section Start -->
    <%- include('header'); -%>
    </div><!-- Header Section End -->
    
       
    <!-- Hero Slider Start-->
    <div class="hero-slider section fix">

        <!-- Hero Slide Item Start-->
        <div class="hero-item" style="background-image: url(img/hero/1.jpg)">

            <!-- Hero Content Start-->
            <div class="hero-content text-center m-auto">

                <h2>LOGIN DETAILS FOR</h2>
                <h1>Christmas </h1>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which.</p>
                <a href="#">LEARN MORE</a>

            </div><!-- Hero Content End-->


        </div><!-- Hero Slide Item End-->

        <!-- Hero Slide Item Start-->
        <div class="hero-item" style="background-image: url(img/hero/2.jpg)">

            <!-- Hero Content Start-->
            <div class="hero-content text-center m-auto">

                <h2>LOGIN</h2>
                <h1>Christmas Sale</h1>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which.</p>
                <a href="#">LEARN MORE</a>

            </div><!-- Hero Content End-->


        </div><!-- Hero Slide Item End-->

    </div><!-- Hero Slider End-->
    
       
    <!-- Banner Section Start-->
    <div class="banner-section section pt-120">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6 col-12 mb-30">
                    
                    <div class="single-banner">
                        <img src="img/banner/1.jpg" alt="banner">
                        <div class="banner-content right">
                            <h1 class="white"><span>Gifts</span>Christmas</h1>
                            <a href="#" class="button">Shop Now</a>
                        </div>
                    </div>
                    
                </div>
                
                <div class="col-lg-6 col-12 mb-30">
                    
                    <div class="single-banner">
                        <img src="img/banner/2.jpg" alt="banner">
                        <div class="banner-content left">
                            <h2 class="black"><span class="small">Save <span class="red">25%</span></span><span class="red">Offer</span> Christmas</h2>
                            <a href="#" class="link">Shop Now</a>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div><!-- Banner Section End-->



<!-- login start-->

    <div class="testimonial-section section bg-gray pt-100 pb-65" style="background-image: url(img/bg/testimonial.png)">
        <div class="container">

    <div class="row">
        <div class="section-title text-center col mb-55">
            <h1>LOGIN </h1>
            <p>login is necessary for every citizen who uses this website.</p>
        </div>
    </div>

    <div class="row">
        <div class="text-center col">
            
            <!-- Login Form -->
            <form method="post" >
                <div>
                    
                
                    email: <input type="txt"  name="email11" placeholder="Your email" required></br></br>
                    password: <input type="txt"  name="password" placeholder="Your password" required></br></br>
                    
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <!--<div style="position: absolute; left: -5000px;" aria-hidden="true"></div>-->
                    <button type="submit" style="background-color:greenyellow">Submit</button>
                </div>
            </form>
            
        </div>
        </div>
    </div>
       
    <!-- LOGIN END Section -->


    <!-- Product Section Start-->
   <!-- Product Section End-->
  
    <!-- Testimonial Section Start-->
    <div class="testimonial-section section bg-gray pt-100 pb-65" style="background-image: url(img/bg/testimonial.png)">
        <div class="container">
           
            <!-- Section Title Start-->
            <div class="row">
                <div class="section-title text-center col mb-60">
                    <h1>Customer Reviews</h1>
                </div>
            </div><!-- Section Title End-->
            
            <div class="row">
                <div class="col-lg-8 col-md-10 col-12 ml-auto mr-auto">
                    
                    <!-- Testimonial Slider Start -->
                    <div class="testimonial-slider text-center">
                        
                        <!-- Single Testimonial -->
                        <div class="single-testimonial">
                            <img src="img/testimonial/1.jpg" alt="customer">
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
                            <h5>Betty Moore</h5>
                        </div>
                        
                        <!-- Single Testimonial -->
                        <div class="single-testimonial">
                            <img src="img/testimonial/1.jpg" alt="customer">
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
                            <h5>Betty Moore</h5>
                        </div>
                        
                        <!-- Single Testimonial -->
                        <div class="single-testimonial">
                            <img src="img/testimonial/1.jpg" alt="customer">
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
                            <h5>Betty Moore</h5>
                        </div>
                        
                    </div><!-- Testimonial Slider End -->
                    
                </div>
            </div>
            
        </div>
    </div><!-- Testimonial Section End-->
    
       
    <!-- Newsletter Section Start-->
    <div class="newsletter-section section pt-100 pb-120">
        <div class="container">
           
            <!-- Section Title Start-->
            <div class="row">
                <div class="section-title text-center col mb-55">
                    <h1>Newsletter</h1>
                    <p>On abc </p>
                </div>
            </div><!-- Section Title End-->
            
            <div class="row">
                <div class="text-center col">
                    
                    <!-- Newsletter Form -->
                    <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscribe-form validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <label for="mce-EMAIL" class="d-none">Subscribe to our mailing list</label>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">subscribe</button>
                        </div>
                    </form>
                    
                </div>
            </div>
            
        </div>
    </div><!-- Testimonial Section End-->
    
       
    <!-- Blog Section Start-->
    <div class="blog-section section bg-gray pt-100 pb-60">
        <div class="container">
           
            <!-- Section Title Start-->
            <div class="row">
                <div class="section-title text-center col mb-60">
                    <h1>Christmas Blog</h1>
                </div>
            </div><!-- Section Title End-->
            
            <div class="row">
                
                <!-- Blog Item Start-->
                <div class="blog-item col-lg-4 col-md-6 col-12 mb-60">
                    
                    <!-- Image -->
                    <a href="blog-details.ejs" class="image"><img src="img/blog/1.jpg" alt="blog"></a>
                    
                    <!-- Content -->
                    <div class="content fix">
                        
                        <!-- Publish Date -->
                        <span class="publish"><span>Published on:</span> 25 May 2017</span>
                        
                        <!-- Title -->
                        <h4 class="title"><a href="blog-details.ejs">If you are going to use a passage.</a></h4>
                        
                        <!-- Decs -->
                        <p>If you are going to use a passage of Lorem Ipsum, yneed to be sure there isn't anything embarrassing hidden ithe middle text. All the Lorem Ipsum.</p>
                        
                        <!-- Read More Link --> 
                        <a href="blog-details.ejs" class="read-more">Read More</a>
                        
                    </div>
                    
                </div><!-- Blog Item End-->
                
                <!-- Blog Item Start-->
                <div class="blog-item col-lg-4 col-md-6 col-12 mb-60">
                    
                    <!-- Image -->
                    <a href="blog-details.ejs" class="image"><img src="img/blog/2.jpg" alt="blog"></a>
                    
                    <!-- Content -->
                    <div class="content fix">
                        
                        <!-- Publish Date -->
                        <span class="publish"><span>Published on:</span> 25 May 2017</span>
                        
                        <!-- Title -->
                        <h4 class="title"><a href="blog-details.ejs">Ut enim ad minima veniam, quis.</a></h4>
                        
                        <!-- Decs -->
                        <p>If you are going to use a passage of Lorem Ipsum, yneed to be sure there isn't anything embarrassing hidden ithe middle text. All the Lorem Ipsum.</p>
                        
                        <!-- Read More Link --> 
                        <a href="blog-details.ejs" class="read-more">Read More</a>
                        
                    </div>
                    
                </div><!-- Blog Item End-->
                
                <!-- Blog Item Start-->
                <div class="blog-item col-lg-4 col-md-6 col-12 mb-60">
                    
                    <!-- Image -->
                    <a href="blog-details.ejs" class="image"><img src="img/blog/3.jpg" alt="blog"></a>
                    
                    <!-- Content -->
                    
                </div><!-- Blog Item End-->
                
            </div>
            
        </div>
    </div><!-- Blog Section End-->
    
       
    <!-- Footer Section Start-->
    <div class="footer-section section bg-dark" style="background-image: url(img/bg/footer-bg.png)">
        <%- include('footer'); -%>

    </div><!-- Footer Section End-->
    

</div><!-- Main Wrapper End -->

<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="js/vendor/jquery-1.12.0.min.js"></script>
<!-- Popper JS -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="js/plugins.js"></script>
<!-- Ajax Mail JS -->
<script src="js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="js/main.js"></script>
</body>

</html>
